@model CoeusProject.Models.Video
@using Kendo.Mvc.UI
@{Layout = null;}

<link href="~/Content/video-js.css" rel="stylesheet" />
<script src="~/Scripts/video.js"></script>

<style type="text/css">
    #divAvaliacao > label {
        display: inline-block;
        margin-right: 5px;
    }

        #divAvaliacao > label > span {
            font-weight: bold;
        }

        #divAvaliacao > label > input {
            visibility: hidden;
            position: absolute;
        }

            #divAvaliacao > label > input + span {
                cursor: pointer;
                border: 2px solid transparent;
            }

            #divAvaliacao > label > input:checked + span {
                border: 3px solid;
                border-radius: 5px;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv1]:checked + span {
                border-color: #f00;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv2]:checked + span {
                border-color: #fb4;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv3]:checked + span {
                border-color: #ff0;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv4]:checked + span {
                border-color: #af4;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv5]:checked + span {
                border-color: #0f0;
            }
</style>

<script>
    function btnVoltarMainVideos_Click(e) {
        $('#divContent').load('@Url.Action("GetMainVideos", "Video")', { idUsuario: idDonoVideo });
    }

    var showingFollowMenu;
    $(document).ready(function () {
        JoinObjectChat('@Model.IdObjeto');

        showingFollowMenu = false;
        @{if ((Model!= null && Model.IdVideo > 0) && (Model.Objeto.IdUsuario != CoeusProject.Facade.AccountFacade.GetLoggedInUser().IdUsuario)){<text>
        $.get('@Url.Action("GetUsuarioByObjeto", "Account")', { idObjeto: '@Model.IdObjeto' }, function (data) {
            $.get('@Url.Action("GetUsuarioRanking", "Account")?idUsuario=@Model.Objeto.IdUsuario', {}, function (rankOwner) {
                $('#spnCreator').html("<div id='divOwnerVideo' style='display:inline-block; cursor: pointer'><img src='~/User_Data/" + data.NmThumbFoto +
                    "'/></div><div style='float:right; text-align: right'><span>" + data.NmPessoa + "</span><br /><span>Rank: " +
                    rankOwner + "</span></div>");

                $('#divOwnerVideo').click(function () {
                    if ($('#divFollowCreator').length > 0) {
                        $('#divFollowCreator').remove();
                    }

                    if (!showingFollowMenu) {
                        $('#spnCreator').append('<div id="divFollowCreator" ' +
                            'style="position: absolute; top: 40px; right: 5px; width: 160px; text-align: left;' +
                            'z-index: 9999; background-color: #AAA; cursor: pointer" onclick = "divFollowCreator_Click()">' +
                            'Seguir</div>');
                    }
                    showingFollowMenu = !showingFollowMenu;
                });
            });
        });
        </text>}}
    });

    function divFollowCreator_Click() {
        $.ajaxPost('@Url.Action("Follow", "Seguidor")', { idObjeto: '@Model.IdObjeto' }, false, function () {
            $('#divFollowCreator').remove();
        });
    }

    function rtbAvaliacao_Click(e) {
        if (e.length > 0) {
            var element = e[0];
            if (element.checked) {
                $.ajaxPost('@Url.Action("Avaliacao", "Video")', {
                    idVideo: '@Model.IdVideo',
                    noAvaliacao: element.value
                }, false, function () { });
            }
        }
    }
</script>


<div class="k-header" style="height: 30px; margin-top: 45px">
    @(Html.Kendo().Button().Name("btnVoltarMainVideos")
            .Content("<img src='Images/undo.png' width='16' height='16' />")
            .HtmlAttributes(new { @type = "button", @style = "float: left" })
            .Events(e => e.Click("btnVoltarMainVideos_Click"))
    )
    <h3 style="margin: 3px 0 0 0; position: absolute; top: 20px; left: 0">@Model.Objeto.NmObjeto</h3>
    @{if (Model != null && Model.IdVideo > 0)
    {
        <span id="spnCreator" style="position: absolute; top: 5px; right: 0; height:44px; width:200px"></span>
    }}
</div>

<div style="position: absolute; top: 80px; right: 50%">
    <video id="vidVideo" class="video-js vjs-default-skin" controls preload="none" width="400" height="225"
           poster="~/User_Data/@Model.TxUrlPoster"
           data-setup="{}">
        <source src="~/User_Data/@Model.TxUrl" type='video/mp4' />
        <source src="~/User_Data/@Model.TxUrl" type='video/3gpp' />
        <source src="~/User_Data/@Model.TxUrl" type='video/m4v' />
        <source src="~/User_Data/@Model.TxUrl" type='video/mpeg' />
        <source src="~/User_Data/@Model.TxUrl" type='video/ogg' />
        <source src="~/User_Data/@Model.TxUrl" type='video/quicktime' />
        <source src="~/User_Data/@Model.TxUrl" type='video/webm' />
        <source src="~/User_Data/@Model.TxUrl" type='video/x-ms-wmv' />

        <p class="vjs-no-js">Para assistir à este vídeo, habilite a execução de JavaScript e considere atualizar seu web browser para um <a href="http://videojs.com/html5-video-support/" target="_blank">que suporte vídeos HTML5</a></p>
    </video>
</div>

<div style="position: absolute; bottom: 0; left: 20px; right: 20px; height: 100px; overflow:auto">
    @Model.Objeto.TxDescricao

    @{if (Model.Objeto.IdUsuario != CoeusProject.Facade.AccountFacade.GetLoggedInUser().IdUsuario)
    {
        <div style="position: absolute; bottom: 0" id="divAvaliacao">
            <h5 style="display: inline-block">
                Avalie esse vídeo
            </h5>
            @{Int32 noAvUsuario = ViewBag.noAvUsuario;}
            <label>
                @Html.RadioButton("rbtAvaliacao", 1, (noAvUsuario == 1), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv1" })
                <span>1</span>
            </label>
            <label>
                @Html.RadioButton("rbtAvaliacao", 2, (noAvUsuario == 2), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv2" })
                <span>2</span>
            </label>
            <label>
                @Html.RadioButton("rbtAvaliacao", 3, (noAvUsuario == 3), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv3" })
                <span>3</span>
            </label>
            <label>
                @Html.RadioButton("rbtAvaliacao", 4, (noAvUsuario == 4), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv4" })
                <span>4</span>
            </label>
            <label>
                @Html.RadioButton("rbtAvaliacao", 5, (noAvUsuario == 5), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv5" })
                <span>5</span>
            </label>
        </div>
    }}
</div>