@using CoeusProject.ViewModels
@model IEnumerable<ObjetoVM>
@{Layout = null;}

<style>
    .divContentValue {
        width: 99%; 
        text-align: left;
        margin: 0 0 5px 5px;
        border: 1px solid gray;
        border-radius: 5px;
    }

        .divContentValue * {
            margin: 5px 0 2px 6px;
        }

    .divContentValue a {
        cursor: pointer;
    }
</style>

<script>
    function ContentArtigo_Click(idArtigo) {
        $('#divContent').load('@Url.Action("EditPartial", "Artigo")', { idArtigo: idArtigo });
    }

    function ContentVideo_Click(idVideo) {
        $('#divContent').load('@Url.Action("EditPartial", "Video")', { idVideo: idVideo });
    }
</script>

    @{
        foreach (ObjetoVM objeto in Model)
        {
            <text>
                <div class="divContentValue">
                    <h4>
                        @{if (objeto.TpObjeto == TipoObjeto.Artigo)
                        { <img src="../../Images/objectTypeArticlepng.png" alt="A" />
                            <a onclick="ContentArtigo_Click(@objeto.IdArtigo)">@objeto.NmObjeto</a>
                        }
                        else
                        { <img src="../../Images/objectTypeVideo.png" alt="V" />
                            <a onclick="ContentVideo_Click(@objeto.IdVideo)">@objeto.NmObjeto</a>
                        }}
                    </h4>
                    <div style="margin: 0 0 10px 40px; text-wrap: avoid; word-wrap: break-word">
                        @objeto.TxDescricao
                    </div>
                </div>
            </text>
        }
    }