@{Layout = null;}

<div style="position: absolute; top: 20%; left: 10px; right: 0; text-align: left">
    @(Html.ActionLink("Meus Artigos", "*", "*", new { @id = "lnkMyArticles" }))
    <br /><br />
    @(Html.ActionLink("Meus Vídeos", "*", "*", new { @id = "lnkMyVideos" }))
    <br /><br />
    @(Html.ActionLink("Meus Seguidores", "*", "*", new { @id = "lnkMyFollowers" }))
    <br /><br />
    @(Html.ActionLink("Seguindo", "*", "*", new { @id = "lnkFollowing" }))
</div>

<script>
    $(document).ready(function () {
        $('#lnkMyArticles').click(function (e) {
            e.preventDefault();

            var kendoWaitWindow = kendoWait();
            var loaded = false;

            bindCenterPartial('@Url.Action("GetMainArtigos", "Artigo")', { idUsuario: idUsuarioLogado }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });

            bindLeftPartial('@Url.Action("GetLeftDivArtigos","Artigo")', { idUsuario: idUsuarioLogado }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });
        });

        $('#lnkMyVideos').click(function (e) {
            e.preventDefault();

            var kendoWaitWindow = kendoWait();
            var loaded = false;

            bindCenterPartial('@Url.Action("GetMainVideos", "Video")', { idUsuario: idUsuarioLogado }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });

            bindLeftPartial('@Url.Action("GetLeftDivVideos","Video")', { idUsuario: idUsuarioLogado }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });
        });

        $('#lnkMyFollowers').click(function (e) {
            e.preventDefault();

            var kendoWaitWindow = kendoWait();

            bindCenterPartial('@Url.Action("GetFollowersIndex", "Seguidor")', { idUsuario: idUsuarioLogado }, function () {
                kendoWaitWindow.close();
            });
        });

        $('#lnkFollowing').click(function (e) {
            e.preventDefault();

            var kendoWaitWindow = kendoWait();

            bindCenterPartial('@Url.Action("GetFollowingIndex", "Seguidor")', { idUsuario: idUsuarioLogado }, function () {
                kendoWaitWindow.close();
            });
        });
    });
</script>