@{Layout = null;}

<div style="position: absolute; top: 20%; left: 5px; right: 0; text-align: left">
    @(Html.ActionLink("Meus Artigos", "*", "*", new { @id = "lnkMyArticles" }))
    <br /><br />
    @(Html.ActionLink("Meus Vídeos", "*", "*", new { @id = "lnkMyVideos" }))
</div>

<script>
    $(document).ready(function () {
        $('#lnkMyArticles').click(function (e) {
            e.preventDefault();

            var kendoWaitWindow = kendoWait();
            var loaded = false;

            $('#divContent').load('@Url.Action("GetMainArtigos", "Artigo")', { idUsuario: idUsuarioLogado }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });

            $('#divLeftContent').load('@Url.Action("GetLeftDivArtigos","Artigo")', { idUsuario: idUsuarioLogado }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });
        });

        $('#lnkMyVideos').click(function (e) {
            e.preventDefault();

            var kendoWaitWindow = kendoWait();
            var loaded = false;

            $('#divContent').load('@Url.Action("GetMainVideos", "Video")', { idUsuario: idUsuarioLogado }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });
            $('#divLeftContent').load('@Url.Action("GetLeftDivVideos","Video")', { idUsuario: idUsuarioLogado }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });
        });
    });
</script>