@model CoeusProject.Models.Usuario
@using Kendo.Mvc.UI
@{Layout = null;}

<div id="divRightSide" class="divRightSide">
    @(Html.Kendo().ComboBox().Name("cmbNmGrupo")
        .DataTextField("NmGrupo")
        .DataValueField("IdGrupo")
        .Suggest(true)
        .MinLength(0)
        .Height(400)
        .DataSource(ds => ds.Read(read => read.Action("GetGrupoWhereNmGrupoStartsWith", "Grupo")
            .Data("cmbNmGrupo_AdditionalData")).ServerFiltering(true))
        .Filter(FilterType.StartsWith)
        .AutoBind(true)
        .Events(e => e.Select("cmbNmGrupo_Select").Change("cmbNmGrupo_Change"))
        .HtmlAttributes(new { @placeholder = "Buscar por grupo", @style = "width: 100%" })
    )

    <div style="height: 100%">
        <div id="chat" class="divChat"></div>

        <div class="divSubmitChat">
            @Html.TextArea("txtMessage", new { @style = "width: 95%; resize: none; height: 55px" })

            @(Html.Kendo().Button().Name("btnSendMessage")
                .Content("<img src='/Images/sendMessage.png' alt='Send Message'/>")
                .HtmlAttributes(new { @style = "float: right;", @type = "button" })
                .Events(e => e.Click("btnSendMessage_Click")))

            @(Html.Kendo().Button().Name("btnGroupAdd")
                .Content("<img src='/Images/groupAdd.png' alt='Add New Group'/>")
                .HtmlAttributes(new { @style = "float: right;", @type = "button" })
                .Events(e => e.Click("btnGroupAdd_Click")))

            @(Html.Kendo().Button().Name("btnGroupEdit")
                .Content("<img src='/Images/groupEdit.png' alt='Edit Group'/>")
                .HtmlAttributes(new { @style = "float: right; visibility: hidden", @type = "button" })
                .Events(e => e.Click("btnGroupEdit_Click")))
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("wndGroup")
    .Modal(true)
    .Title("Grupo")
    .Draggable(true)
    .Content(@<text><div id="wndGroupContent"></div></text>)
    .Events(e=>e.Close("wndGroup_Close($(this))"))
    .Visible(false)
    .Height(330)
    .Width(600)
)

<span id="spnPopupNotification"></span>

<script type="text/javascript">
    var chat;
    var chatTmpl = $('<span></span>');
    var usrTmpl = $('<h3 style="font-size: 7pt; letter-spacing: 1px; text-align: left; font-weight: bold"></h3>');
    var popupNotification = $("#spnPopupNotification").kendoNotification({
        allowHideAfter: 5000,
        hideOnClick: true
    }).data("kendoNotification");

    $(document).ready(function () {
        $('#btnGroupAdd').kendoTooltip({
            position: 'top',
            content: 'Criar grupo'
        });

        $('#btnSendMessage').kendoTooltip({
            position: 'top',
            content: 'Enviar mensagem'
        });

        chat = $.connection.chat;

        chat.client.notify = function (data) {
            var idGrupo = $('#cmbNmGrupo').data('kendoComboBox').value();
            var message = data.Data;

            if (message.IdGrupo && parseInt(message.IdGrupo)) {
                if (idGrupo && parseInt(idGrupo) && message.IdGrupo == idGrupo) {
                    var chatRow = chatTmpl.clone().appendTo('#chat');
                    var usrName = usrTmpl.clone().appendTo(chatRow).html(message.NmPessoa + "(" + message.DtMensagem + "): <br />");
                    var msg = chatTmpl.clone().appendTo(chatRow).html(message.TxMensagem);

                    $("#chat").scrollTop($("#chat")[0].scrollHeight);
                } else {
                    popupNotification.show("<h4 style='display: inline-block'>" + message.NmPessoa + "(" +
                                            message.NmGrupo + "):</h4><br />" +
                                            message.TxMensagem, "info");
                }
            }
        }

        $.signalR.hub.start().done(function () {
            chat.server.join();
        });

    });

    function wndGroup_Close(e) {
        $('#wndGroupContent').html('');
    }

    function cmbNmGrupo_AdditionalData(e) {
        return {
            nmGrupo: $('#cmbNmGrupo').data('kendoComboBox').text()
        };
    }

    function cmbNmGrupo_Select(e) {
        var dataItem = this.dataItem(e.item.index());

        RefreshChat(dataItem.IdGrupo);
    }

    function cmbNmGrupo_Change(e) {
        if (!$('#cmbNmGrupo').data('kendoComboBox').value() || !parseInt($('#cmbNmGrupo').data('kendoComboBox').value())) {
            $('#btnGroupEdit').css('visibility', 'hidden');
            $('#chat').html('');
        } else {
            $('#btnGroupEdit').css('visibility', 'visible');
        }
    }

    function btnSendMessage_Click(e) {
        var idGrupo = $('#cmbNmGrupo').data('kendoComboBox').value();
        var txMessage = $('#txtMessage').val();
        if (!idGrupo && !parseInt(idGrupo)) {
            kendoAlert('Para enviar uma mensagem, primeiro selecione um grupo');
            return;
        } else if (!txMessage) {
            kendoAlert('É necessário escrever uma mensagem para enviar');
            return;
        }

        $.ajaxPost('@Url.Action("SendMessage","Message")', {
            idGroup: idGrupo,
            txMessage: txMessage
        }, null, function (data) {
            $('#txtMessage').val('');
        });
    }

    function btnGroupAdd_Click(e) {
        $('#wndGroupContent').load('@Url.Action("CreatePartial", "Grupo")', {}, function () {
            $('#wndGroup').data('kendoWindow').center().open();
        });
    }

    function btnGroupEdit_Click(e) {
        var idGrupo = $('#cmbNmGrupo').data('kendoComboBox').value();
        if (!idGrupo || !parseInt(idGrupo)) {
            return;
        }

        $('#wndGroupContent').load('@Url.Action("EditPartial", "Grupo")', {
            IdGrupo: idGrupo
        }, function () {
            $('#wndGroup').data('kendoWindow').center().open();
        });
    }

    function RefreshChat(idGrupo) {
        $('#chat').html('');

        $.ajax({
            url: '@Url.Action("GetGrupoMessages", "Message")',
            type: 'GET',
            data: {
                idGrupo: idGrupo
            },
            success: function (data) {
                data.forEach(function (row) {
                    var chatRow = chatTmpl.clone().appendTo('#chat');
                    var usrName = usrTmpl.clone().appendTo(chatRow).html(row.NmPessoa + "(" + row.DtMensagem + "): <br />");
                    var msg = chatTmpl.clone().appendTo(chatRow).html(row.TxMensagem);
                });

                $("#chat").scrollTop($("#chat")[0].scrollHeight);
            },
            error: function (error) {
                kendoAlert(error.statusText);
            }
        });
    }
</script>