@model CoeusProject.Models.Usuario
@using Kendo.Mvc.UI

@{
    Layout = null;
}

<div id="divRightSide" class="divRightSide">
    @(Html.Kendo().ComboBox().Name("cmbNmGrupo")
        .DataTextField("NmGrupo")
        .DataValueField("IdGrupo")
        .Suggest(true)
        .MinLength(0)
        .Height(400)
        .DataSource(ds => ds.Read(read => read.Action("GetGrupoWhereNmGrupoStartsWith", "Grupo")
            .Data("cmbNmGrupo_AdditionalData")).ServerFiltering(true))
        .Filter(FilterType.StartsWith)
        .AutoBind(true)
        .Events(e => e.Select("cmbNmGrupo_Select"))
        .HtmlAttributes(new { @placeholder = "Buscar por grupo", @style = "width: 100%" })
    )

    <div style="height: 100%">
        <div id="chat" class="divChat"></div>

        <div class="divSubmitChat">
            @Html.TextArea("txtMessage", new { @style = "width: 95%; resize: none; height: 55px" })

            @(Html.Kendo().Button().Name("btnSendMessage")
                .Content("<img src='/Images/sendMessage.png' alt='Send Message'/>")
                .HtmlAttributes(new { @style = "float: right;" }))

            @(Html.Kendo().Button().Name("btnGroupAdd")
                .Content("<img src='/Images/groupAdd.png' alt='Add New Group'/>")
                .HtmlAttributes(new { @style = "float: right;" }))
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("wndGroup")
    .Modal(true)
    .Title("Grupo")
    .Draggable(true)
    .Content(@<text><div id="wndGroupContent"></div></text>)
    .Events(e=>e.Close("wndGroup_Close($(this))"))
    .Visible(false)
    .Height(330)
    .Width(600)
)

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnGroupAdd').kendoTooltip({
            position: 'top',
            content: 'Criar grupo'
        });

        $('#btnSendMessage').kendoTooltip({
            position: 'top',
            content: 'Enviar mensagem'
        });

        $('#btnSendMessage').click(function (e) {
            e.preventDefault();
            var idGrupo = $('#cmbNmGrupo').data('kendoComboBox').value();

            if (!idGrupo && !parseInt(idGrupo)) {
                kendoAlert('Para enviar uma mensagem, primeiro selecione um grupo');
                return;
            }

            $.ajax({
                url: '@Url.Action("SendMessage","Message")',
                type: 'POST',
                data: {
                    idGroup: idGrupo,
                    txMessage: $('#txtMessage').val()
                },
                success: function (data) {
                    RefreshChat(idGrupo);
                    $('#txtMessage').val('');
                },
                error: function (error) {
                    kendoAlert(error.statusText);
                }
            });
        });

        $('#btnGroupAdd').click(function (e) {
            e.preventDefault();
            $('#wndGroupContent').load('@Url.Action("CreatePartial", "Grupo")',
                {}, function () {
                    $('#wndGroup').data('kendoWindow').center().open();
                });
        });
    });

    function wndGroup_Close(e) {
        $('#wndGroupContent').html('');
    }

    function cmbNmGrupo_AdditionalData(e) {
        return {
            nmGrupo: $('#cmbNmGrupo').data('kendoComboBox').text()
        };
    }

    var chatTmpl = $('<span></span>');
    var usrTmpl = $('<h3 style="font-size: 7pt; letter-spacing: 1px; text-align: left; font-weight: bold"></h3>');

    function cmbNmGrupo_Select(e) {
        var dataItem = this.dataItem(e.item.index());
        RefreshChat(dataItem.IdGrupo);
    }

    function RefreshChat(idGrupo) {
        $('#chat').html('');

        $.ajax({
            url: '@Url.Action("GetGrupoMessages", "Message")',
            type: 'GET',
            data: {
                idGrupo: idGrupo
            },
            success: function (data) {
                data.forEach(function (row) {
                    var chatRow = chatTmpl.clone().appendTo('#chat');
                    var usrName = usrTmpl.clone().appendTo(chatRow).html(row.NmPessoa + "(" + row.DtMensagem + "): <br />");
                    var msg = chatTmpl.clone().appendTo(chatRow).html(row.TxMensagem);
                });

                $("#chat").scrollTop($("#chat")[0].scrollHeight);
            },
            error: function (error) {
                kendoAlert(error.statusText);
            }
        });
    }
</script>