@model CoeusProject.Models.Artigo
@using Kendo.Mvc.UI
@{Layout = null;}

<style>
    .k-btnCancelar {
        background-image: url('Images/undo.png');
        background-position: 3px 3px;
    }

    .k-btnEdit {
        background-image: url('Images/saveAs.png');
        background-position: 4px 4px;
    }
</style>

<script>
    function btnVoltarMainArtigos_Click(e) {
        $('#divContent').load('@Url.Action("GetMainArtigos", "Artigo")', { idUsuario: idDonoArtigo });
    }

    function btnEditArtigo_Click(e) {
        $('#txNomeObjeto').val($('#hidNmObjeto').val());
        $('#txDescricaoObjeto').val($('#hidTxDescricao').val());

        $('#wndArtigoEdit').data('kendoWindow').center().open();
    }

    function btnSalvarArtigo_Click(e) {
        var idArtigoEdit = parseInt($('#idArtigoEdit').val());

        function ArtigoEditPartial_Close() {
            $('#wndArtigoEdit').data('kendoWindow').close();
            $('#divContent').load('@Url.Action("GetMainArtigos", "Artigo")', { idUsuario: idDonoArtigo });
            $('#gridArtigos').data('kendoGrid').dataSource.read();
        }

        if (idArtigoEdit) {
            $.ajaxPost('@Url.Action("Edit","Artigo")', {
                idArtigo: idArtigoEdit,
                nmObjeto: $('#txNomeObjeto').val(),
                txDescricao: $('#txDescricaoObjeto').val(),
                txArtigo: $('#artigoEditor').data('kendoEditor').value()
            }, null, ArtigoEditPartial_Close);
        } else {
            $.ajaxPost('@Url.Action("Create","Artigo")', {
                nmObjeto: $('#txNomeObjeto').val(),
                txDescricao: $('#txDescricaoObjeto').val(),
                txArtigo: $('#artigoEditor').data('kendoEditor').value()
            }, null, ArtigoEditPartial_Close);
        }
    }

    $(document).ready(function () {
        $('#btnCancelarEditArtigo').kendoTooltip({
            position: 'bottom',
            content: 'Cancelar'
        });

        $('#btnEditArtigo').kendoTooltip({
            position: 'bottom',
            content: 'Salvar'
        });
    });
</script>

@{
    if (Model == null || Model.IdArtigo == 0)
    {
        @:<h3 style="margin: 3px 0 0 0">Novo Artigo</h3>
    }
    else
    {
        @:<h3 style="margin: 3px 0 0 0">@Model.Objeto.NmObjeto</h3>
    }
}
<div style="position:absolute; top: 22px; bottom: 12px">
    @Html.HiddenFor(m => m.IdArtigo, new { @id = "idArtigoEdit" })
    @Html.HiddenFor(m => m.Objeto.NmObjeto, new { @id = "hidNmObjeto" })
    @Html.HiddenFor(m => m.Objeto.TxDescricao, new { @id = "hidTxDescricao" })

    @{if (Model.Objeto.IdUsuario == CoeusProject.Facade.AccountFacade.GetLoggedInUser().IdUsuario)
    {
        @(Html.Kendo().EditorFor(model => model.TxArtigo).Name("artigoEditor")
            .HtmlAttributes(new { @style = "height: 100%; " })
            .Tools(tool => tool.Clear()
                    .CustomButton(cb => cb.Name("btnCancelar").Exec("btnVoltarMainArtigos_Click").ToolTip("Cancelar"))
                    .CustomButton(cb => cb.Name("btnEdit").Exec("btnEditArtigo_Click").ToolTip("Salvar"))
                    .Separator()
                    .Bold()
                    .Italic()
                    .Underline()
                    .Strikethrough()
                    .JustifyLeft()
                    .JustifyCenter()
                    .JustifyRight()
                    .JustifyFull()
                    .InsertUnorderedList()
                    .InsertOrderedList()
                    .Indent()
                    .Outdent()
                    .SubScript()
                    .SuperScript()
                    .Separator()
                    .InsertImage()
                    .CreateLink()
                    .TableEditing()
            ))
    }
    else
    {
        @(Html.Kendo().EditorFor(model => model.TxArtigo).Name("artigoEditor")
            .HtmlAttributes(new { @style = "height: 100%; "})
            .Tools(tool => tool.Clear()
            )
        )
        
        <script>
            $($('#artigoEditor').data().kendoEditor.body).attr('contenteditable', false)
        </script>
    }}
</div>

@(Html.Kendo().Window().Name("wndArtigoEdit")
    .Content(@<text>
        Nome do Artigo:
        @(Html.TextBox("txNomeObjeto", "", new { @class = "k-textbox" }))

        Descrição:
        @(Html.TextBox("txDescricaoObjeto", "", new { @class = "k-textbox" }))

        @(Html.Kendo().Button().Name("btnSalvarArtigo")
            .Content("Salvar")
            .HtmlAttributes(new { @type = "button" })
            .Events(e => e.Click("btnSalvarArtigo_Click"))
        )
    </text>)
    .Visible(false)
    .Title("Edição")
    .Modal(true)
    .Resizable(r=>r.Enabled(false))
)