@model CoeusProject.Models.Artigo
@using Kendo.Mvc.UI
@{Layout = null;}

<style>
    .k-btnCancelar {
        background-image: url('Images/undo.png');
        background-position: 3px 3px;
    }

    .k-btnEdit {
        background-image: url('Images/saveAs.png');
        background-position: 4px 4px;
    }

    #divAvaliacao > label {
        display: inline-block;
        margin-right: 5px;
    }

        #divAvaliacao > label > span {
            font-weight: bold;
        }

        #divAvaliacao > label > input {
            visibility: hidden;
            position: absolute;
        }

            #divAvaliacao > label > input + span {
                cursor: pointer;
                border: 2px solid transparent;
            }

            #divAvaliacao > label > input:checked + span {
                border: 3px solid;
                border-radius: 5px;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv1]:checked + span {
                border-color: #f00;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv2]:checked + span {
                border-color: #fb4;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv3]:checked + span {
                border-color: #ff0;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv4]:checked + span {
                border-color: #af4;
            }

            #divAvaliacao > label > input[class=rbtnAvaliacaoAv5]:checked + span {
                border-color: #0f0;
            }
</style>

<script>
    function btnVoltarMainArtigos_Click(e) {
        $('#divContent').load('@Url.Action("GetMainArtigos", "Artigo")', { idUsuario: idDonoArtigo });
        $('#divInteressesArtigo').html('');
    }

    function btnEditArtigo_Click(e) {
        $('#txNomeObjeto').val($('#hidNmObjeto').val());
        $('#txDescricaoObjeto').val($('#hidTxDescricao').val());

        $('#wndArtigoEdit').data('kendoWindow').center().open();
    }

    function btnSalvarArtigo_Click(e) {
        var idArtigoEdit = parseInt($('#idArtigoEdit').val());

        function ArtigoEditPartial_Close() {
            $('#wndArtigoEdit').data('kendoWindow').close();
            $('#divContent').load('@Url.Action("GetMainArtigos", "Artigo")', { idUsuario: idDonoArtigo });
            $('#gridArtigos').data('kendoGrid').dataSource.read();
            $('#divInteressesArtigo').html('');
        }

        if (idArtigoEdit) {
            $.ajaxPost('@Url.Action("Edit", "Artigo")', {
                idArtigo: idArtigoEdit,
                nmObjeto: $('#txNomeObjeto').val(),
                txDescricao: $('#txDescricaoObjeto').val(),
                txArtigo: $('#artigoEditor').data('kendoEditor').value(),
                tags: interesses
            }, null, ArtigoEditPartial_Close);
        } else {
            $.ajaxPost('@Url.Action("Create", "Artigo")', {
                nmObjeto: $('#txNomeObjeto').val(),
                txDescricao: $('#txDescricaoObjeto').val(),
                txArtigo: $('#artigoEditor').data('kendoEditor').value(),
                tags: interesses
            }, null, ArtigoEditPartial_Close);
        }
    }

    var showingFollowMenu;
    $(document).ready(function () {
        showingFollowMenu = false;
        $('#btnCancelarEditArtigo').kendoTooltip({
            position: 'bottom',
            content: 'Cancelar'
        });

        $('#btnEditArtigo').kendoTooltip({
            position: 'bottom',
            content: 'Salvar'
        });

        @{if ((Model!= null && Model.IdArtigo > 0)){
        <text>
        JoinObjectChat('@Model.IdObjeto');
        </text>

              if (Model.Objeto.IdUsuario != CoeusProject.Facade.AccountFacade.GetLoggedInUser().IdUsuario){<text>
        $.get('@Url.Action("GetUsuarioByObjeto", "Account")', { idObjeto: '@Model.IdObjeto' }, function (data) {


            $.get('@Url.Action("GetUsuarioRanking", "Account")?idUsuario=@Model.Objeto.IdUsuario', {}, function (rankOwner) {
                $('#spnCreator').html("<div id='divOwnerArtigo' style='display:inline-block; cursor: pointer'><img src='~/User_Data/" + data.NmThumbFoto +
                    "'/></div><div style='float:right; text-align: right'><span>" + data.NmPessoa + "</span><br /><span>Rank: " +
                    rankOwner + "</span></div>");

                $('#divOwnerArtigo').click(function () {
                    if ($('#divFollowCreator').length > 0) {
                        $('#divFollowCreator').remove();
                    }

                    if (!showingFollowMenu) {
                        $('#spnCreator').append('<div id="divFollowCreator" ' +
                            'style="position: absolute; top: 40px; right: 5px; width: 160px; text-align: left;' +
                            'z-index: 9999; background-color: #AAA; cursor: pointer" onclick = "divFollowCreator_Click()">' +
                            'Seguir</div>');
                    }
                    showingFollowMenu = !showingFollowMenu;
                });
            });
        });

        </text>}}}

        $('#divInteressesArtigo').load('@Url.Action("GetInteressePartial", "Interesse")');
    });

    function divFollowCreator_Click() {
        $.ajaxPost('@Url.Action("Follow", "Seguidor")', { idObjeto: '@Model.IdObjeto' }, false, function () {
            $('#divFollowCreator').remove();
        });
    }

    function rtbAvaliacao_Click(e) {
        if (e.length > 0) {
            var element = e[0];
            if (element.checked) {
                $.ajaxPost('@Url.Action("Avaliacao", "Artigo")', {
                    idArtigo: '@Model.IdArtigo',
                    noAvaliacao: element.value
                }, false, function () { });
            }
        }
    }
</script>

@{if (Model == null || Model.IdArtigo == 0)
{
    @:<h3 style="margin: 3px 0 0 0; position: absolute; top: 20px; left: 0">Novo Artigo</h3>
    }
else
{
    @:<h3 style="margin: 3px 0 0 0; position: absolute; top: 20px; left: 0">@Model.Objeto.NmObjeto</h3>




    <span id="spnCreator" style="position: absolute; top: 5px; right: 0; height:44px; width:200px"></span>
}}

<div style="position:absolute; top: 45px; right: 0; bottom: 0; left: 0">
    @Html.HiddenFor(m => m.IdArtigo, new { @id = "idArtigoEdit" })
    @Html.HiddenFor(m => m.Objeto.NmObjeto, new { @id = "hidNmObjeto" })
    @Html.HiddenFor(m => m.Objeto.TxDescricao, new { @id = "hidTxDescricao" })

    @{if (Model.Objeto.IdUsuario == CoeusProject.Facade.AccountFacade.GetLoggedInUser().IdUsuario)
    {
        @(Html.Kendo().EditorFor(model => model.TxArtigo).Name("artigoEditor")
            .HtmlAttributes(new { @style = "height: 100%; " })
            .Tools(tool => tool.Clear()
                .CustomButton(cb => cb.Name("btnCancelar").Exec("btnVoltarMainArtigos_Click").ToolTip("Cancelar"))
                .CustomButton(cb => cb.Name("btnEdit").Exec("btnEditArtigo_Click").ToolTip("Salvar"))
                .Separator()
                .Bold()
                .Italic()
                .Underline()
                .Strikethrough()
                .JustifyLeft()
                .JustifyCenter()
                .JustifyRight()
                .JustifyFull()
                .InsertUnorderedList()
                .InsertOrderedList()
                .Indent()
                .Outdent()
                .SubScript()
                .SuperScript()
                .Separator()
                .InsertImage()
                .CreateLink()
                .TableEditing()
                .FontName()
                .FontSize()
                .FontColor()
            ))
    }
    else
    {
        <div style="position: absolute; top: 0; right: 0; bottom: 40px; left: 0">
            @(Html.Kendo().EditorFor(model => model.TxArtigo).Name("artigoEditor")
                    .HtmlAttributes(new { @style = "width: 100%; height: 100%" })
                    .Tools(tool => tool.Clear())
            )
        </div>

        <div style="position: absolute; bottom: 0" id="divAvaliacao">
            <h5 style="display: inline-block">
                Avalie esse artigo
            </h5>

            @{Int32 noAvUsuario = ViewBag.noAvUsuario;}
            <label>
                @Html.RadioButton("rbtAvaliacao", 1, (noAvUsuario == 1), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv1" })
                <span>1</span>
            </label>
            <label>
                @Html.RadioButton("rbtAvaliacao", 2, (noAvUsuario == 2), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv2" })
                <span>2</span>
            </label>
            <label>
                @Html.RadioButton("rbtAvaliacao", 3, (noAvUsuario == 3), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv3" })
                <span>3</span>
            </label>
            <label>
                @Html.RadioButton("rbtAvaliacao", 4, (noAvUsuario == 4), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv4" })
                <span>4</span>
            </label>
            <label>
                @Html.RadioButton("rbtAvaliacao", 5, (noAvUsuario == 5), new { @onclick = "rtbAvaliacao_Click($(this))", @class = "rbtnAvaliacaoAv5" })
                <span>5</span>
            </label>

        </div>

        <script>
            $($('#artigoEditor').data().kendoEditor.body).attr('contenteditable', false)
        </script>
    }}
</div>

@{Html.Kendo().Window().Name("wndArtigoEdit").Content(@<text>
        Nome do Artigo:
        @(Html.TextBox("txNomeObjeto", "", new { @class = "k-textbox" }))

        Descrição:
        @(Html.TextBox("txDescricaoObjeto", "", new { @class = "k-textbox" }))

        <div id="divInteressesArtigo">
        </div>

        @(Html.Kendo().Button().Name("btnSalvarArtigo")
                .Content("Salvar")
                .HtmlAttributes(new { @type = "button" })
                .Events(e => e.Click("btnSalvarArtigo_Click"))
        )
</text>)
    .Visible(false)
    .Title("Edição")
    .Modal(true)
    .Resizable(r => r.Enabled(false))
    .Render();
}