<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coeus - @ViewBag.Title</title>
    <meta name="description" content="An Educational Social Network" />
    <meta name="keywords" content="rede social, social network, network" />

    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/site")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    @Scripts.Render("~/bundles/site")

    @RenderSection("styles", required: false)
</head>

<body>
    @RenderBody()
    <footer>
        <p>&copy; @DateTime.Now.Year - Coeus Project - Designed By Natanael Lemos</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>