<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coeus - @ViewBag.Title</title>
    <meta name="description" content="An Educational Social Network" />
    <meta name="keywords" content="rede social, social network, network" />

    @*@Styles.Render("~/Content/kendo")
        @Styles.Render("~/Content/site")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/signalr")
        <script src="~/signalr/hubs"></script>

        @Scripts.Render("~/bundles/site")*@



    <link href="~/Content/kendo/web/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.coeus.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/kendo/jquery.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/kendo.timezones.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jsExtensions.js"></script>


    @RenderSection("styles", required: false)
</head>

<body>
    @RenderBody()
    <footer>
        <p>&copy; @DateTime.Now.Year - Coeus Project - Designed By Natanael Lemos</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>