@model CoeusProject.Models.Usuario
@using Kendo.Mvc.UI
@{Layout = null;}

<script>
    $(document).ready(function () {
        $('#btnConfigure').kendoTooltip({
            position: 'top',
            content: 'Configurar Conta'
        });

        $('#lnkHome').click(function (e) {
            if ($('#divInteressesItens').length > 0) {
                $('#divInteressesItens').html('');
            }

            e.preventDefault();
            var kendoWaitWindow = kendoWait();
            var loaded = false;

            $('#divContent').load('@Url.Action("FeedContent", "Home")', {}, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });
            $('#divLeftContent').load('@Url.Action("LeftContent", "Home")', {}, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });
        });

        $.get('@Url.Action("GetUsuarioRanking", "Account")?idUsuario=@Model.IdUsuario', {}, function (data) {
            $('#spnRankUserLoggedIn').html("Rank: " + data);
        });
    });

    function btnConfigure_Click(e) {
        $('#wndEditUserContent').load('@Url.Action("EditPartial", "Account")',
                {}, function () {
                    $('#wndEditUser').data('kendoWindow').center().open();
                });
    }

    function wndEditUser_Close(e) {
        $('#wndEditUserContent').html('');
    }

    function btnHideLeftContent_Click(e) {
        $('#divLeftSide').addClass("invisible");
        $('#divContent').css('left', '0');

        $('#btnHideLeftContent').addClass('invisible');
        $('#btnShowLeftContent').removeClass('invisible');
        $('.k-tabstrip-items').css('margin-left', '200px');
    }

    function btnShowLeftContent_Click(e) {
        $('#divLeftSide').removeClass("invisible");
        $('#divContent').css('left', '205px');

        $('#btnShowLeftContent').addClass('invisible');
        $('#btnHideLeftContent').removeClass('invisible');
        $('.k-tabstrip-items').css('margin-left', '0');
    }
</script>

@(Html.Kendo().Button()
    .Name("btnShowLeftContent")
    .Content("►")
    .HtmlAttributes(new { @type = "button", @class = "invisible", @style = "position: absolute; top: 45px; left: 0; height: 20px; width: 20px; padding: 0; z-index: 9999; background-color: transparent; background-image: none; border: 0 none" })
    .Events(e => e.Click("btnShowLeftContent_Click")))

<div id="divLeftSide" class="divLeftSide">
    @(Html.Kendo().Button().Name("btnHideLeftContent")
        .Content("◄")
                .HtmlAttributes(new { @style = "float: left; height: 20px; width: 100%; padding: 0; z-index: 9999; background-color: transparent; background-image: none; border: 0 none; text-align: left", @type = "button" })
        .Events(e => e.Click("btnHideLeftContent_Click")))

    <div id="divLeftContent">
        @Html.Action("LeftContent", "Home")
    </div>
    <div id="divUser" class="divUser">
        @(Html.Kendo().Button().Name("btnConfigure")
            .Content("<img src='/User_Data/" + Model.NmThumbFoto + "' alt='Configure'/>")
            .HtmlAttributes(new { @style = "float: left; margin: 0; padding: 0; background-color: transparent; background-image: none; border: 0 none transparent", @type = "button" })
            .Events(e => e.Click("btnConfigure_Click"))
        )
        <div id="divNmUsuario" style="display: inline-block">
            @Model.NmPessoa
            <span style="display: block; text-align: left" id="spnRankUserLoggedIn"></span>
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("wndEditUser")
    .Modal(true)
    .Title(Model.NmPessoa)
    .Draggable(true)
    .Content(@<text><div id="wndEditUserContent"></div></text>)
    .Events(e=>e.Close("wndEditUser_Close($(this))"))
    .Visible(false)
    .Height(400)
    .Width(500)
)