@model CoeusProject.Models.Usuario
@using Kendo.Mvc.UI
@{Layout = null;}

<script type="text/javascript">
    var chat;
    var popupNotification;
    var balloonMy = $('<span style="display: inline-block; background-image: url(\'Images/balloon-my.png\'); background-repeat: no-repeat; background-size: 100% 100%; padding: 1px 2px 10px 5px"></span>');
    var balloonOther = $('<span style="display: inline-block; background-image: url(\'Images/balloon-other.png\'); background-repeat: no-repeat; background-size: 100% 100%; padding: 1px 2px 10px 5px"></span>');
    var chatTmpl = $('<span></span>');
    var usrTmpl = $('<h3 style="font-size: 7pt; letter-spacing: 1px; text-align: left; font-weight: bold"></h3>');

    $(document).ready(function () {
        $('#btnGroupEdit').kendoTooltip({
            position: 'top',
            content: 'Editar grupo'
        });

        $('#btnGroupAdd').kendoTooltip({
            position: 'top',
            content: 'Criar grupo'
        });

        $('#btnSendMessage').kendoTooltip({
            position: 'top',
            content: 'Enviar mensagem'
        });

        chat = $.connection.chat;

        popupNotification = $("#spnPopupNotification").kendoNotification({
            allowHideAfter: 5000,
            hideOnClick: true
        }).data("kendoNotification");

        chat.client.notify = function (data) {
            var idGrupo = $('#cmbNmGrupo').data('kendoComboBox').value();
            var message = data.Data;

            if (message.IdGrupo && parseInt(message.IdGrupo)) {
                if (idGrupo && parseInt(idGrupo) && message.IdGrupo == idGrupo) {
                    var balloon = {};
                    var idUsuarioLogadoRight = parseInt('@(CoeusProject.Facade.AccountFacade.GetLoggedInUser().IdUsuario)');

                    if (idUsuarioLogadoRight == message.IdUsuario) {
                        balloon = balloonMy.clone();
                    } else {
                        balloon = balloonOther.clone();
                    }

                    var chatRow = balloon.appendTo('#chat');
                    var usrName = usrTmpl.clone().appendTo(chatRow).html(message.NmPessoa + "(" + message.DtMensagem + "): <br />");
                    var msg = chatTmpl.clone().appendTo(chatRow).html(message.TxMensagem);

                    $("#chat").scrollTop($("#chat")[0].scrollHeight);
                } else {
                    popupNotification.show("<h4 style='display: inline-block'>" + message.NmPessoa + "(" +
                                            message.NmGrupo + "):</h4><br />" +
                                            message.TxMensagem, "info");
                }
            }
        }

        $.signalR.hub.start().done(function () {
            chat.server.join();
        });

    });

    function JoinObjectChat(idObject) {
        var cmbNmGrupo = $('#cmbNmGrupo').data('kendoComboBox');

        chat.server.joinObjectChat(idObject);

        $.ajaxPost('@Url.Action("AddObjectGroup", "Grupo")', { idObjeto: idObject }, false, function (data) {
            var dataSource = new kendo.data.DataSource({ data: data });

            cmbNmGrupo.setDataSource(dataSource);
            cmbNmGrupo.value(data[data.length - 1].IdGrupo);
            RefreshChat(data[data.length - 1].IdGrupo);
        });
    }

    function wndGroup_Close(e) {
        $('#wndGroupContent').html('');
    }

    function cmbNmGrupo_AdditionalData(e) {
        var cmbNmGrupo = $('#cmbNmGrupo').data('kendoComboBox');
        return {
            nmGrupo: (cmbNmGrupo && cmbNmGrupo.text()) ? cmbNmGrupo.text() : ''
        };
    }

    function cmbNmGrupo_Select(e) {
        if (!e || !e.item) {
            $('#chat').html('');
            return;
        }

        var dataItem = this.dataItem(e.item.index());
        RefreshChat(dataItem.IdGrupo);
    }

    function btnHideChat_Click(e) {
        $('#divRightSide').addClass("invisible");
        $('#divContent').css('right', '0');

        $('#btnHideChat').addClass('invisible');
        $('#btnShowChat').removeClass('invisible');
    }

    function btnShowChat_Click(e) {
        $('#divRightSide').removeClass("invisible");
        $('#divContent').css('right', '225px');

        $('#btnShowChat').addClass('invisible');
        $('#btnHideChat').removeClass('invisible');
    }

    function btnSendMessage_Click(e) {
        var idGrupo = $('#cmbNmGrupo').data('kendoComboBox').value();
        var txMessage = $('#txtMessage').val();
        if (!idGrupo && !parseInt(idGrupo)) {
            kendoAlert('Para enviar uma mensagem, primeiro selecione um grupo');
            return;
        } else if (!txMessage) {
            kendoAlert('É necessário escrever uma mensagem para enviar');
            return;
        }

        $.ajaxPost('@Url.Action("SendMessage","Message")', {
            idGroup: idGrupo,
            txMessage: txMessage
        }, null, function (data) {
            $('#txtMessage').val('');
        });
    }

    function btnGroupAdd_Click(e) {
        $('#wndGroupContent').load('@Url.Action("CreatePartial", "Grupo")', {}, function () {
            $('#wndGroup').data('kendoWindow').center().open();
        });
    }

    function btnGroupEdit_Click(e) {
        var idGrupo = $('#cmbNmGrupo').data('kendoComboBox').value();
        if (!idGrupo || !parseInt(idGrupo)) {
            kendoAlert('Selecione um Grupo para Editar');
            return;
        }

        $('#wndGroupContent').load('@Url.Action("EditPartial", "Grupo")', {
            IdGrupo: idGrupo
        }, function () {
            $('#wndGroup').data('kendoWindow').center().open();
        });
    }

    function RefreshChat(idGrupo) {
        $('#chat').html('');

        $.ajax({
            url: '@Url.Action("GetGrupoMessages", "Message")',
            type: 'GET',
            data: {
                idGrupo: idGrupo
            },
            success: function (data) {
                var balloon = {};
                var idUsuarioLogadoRight = parseInt('@(CoeusProject.Facade.AccountFacade.GetLoggedInUser().IdUsuario)');

                data.forEach(function (row) {
                    if (idUsuarioLogadoRight == row.IdUsuario) {
                        balloon = balloonMy.clone();
                    } else {
                        balloon = balloonOther.clone();
                    }

                    var chatRow = balloon.appendTo('#chat');
                    var usrName = usrTmpl.clone().appendTo(chatRow).html(row.NmPessoa + "(" + row.DtMensagem + "): <br />");
                    var msg = chatTmpl.clone().appendTo(chatRow).html(row.TxMensagem);
                });

                $("#chat").scrollTop($("#chat")[0].scrollHeight);
            },
            error: function (error) {
                kendoAlert(error.statusText);
            }
        });
    }
</script>

@(Html.Kendo().Button()
    .Name("btnShowChat")
    .Content("◄")
            .HtmlAttributes(new { @type = "button", @class = "invisible", @style = "position: absolute; top: 45px; right: 0; height: 20px; width: 20px; padding: 0; z-index: 9999;  background-color: transparent; background-image: none; border: 0 none;" })
    .Events(e => e.Click("btnShowChat_Click")))

<div style="position: absolute; top: 5px; right: 0; width: 220px">
    @(Html.Kendo().ComboBox().Name("cmbNmGrupo")
            .DataTextField("NmGrupo")
            .DataValueField("IdGrupo")
            .Suggest(true)
            .MinLength(0)
            .Height(400)
            .DataSource(ds => ds.Read(read => read.Action("GetGrupoWhereNmGrupoStartsWith", "Grupo")
            .Data("cmbNmGrupo_AdditionalData")).ServerFiltering(true))
            .Filter(FilterType.StartsWith)
            .AutoBind(true)
            .Events(e => e.Select("cmbNmGrupo_Select"))
            .HtmlAttributes(new { @placeholder = "Buscar por grupo", @style = "width: 100%" })
    )
</div>
<div id="divRightSide" class="divRightSide">
    @(Html.Kendo().Button().Name("btnHideChat")
        .Content("►")
                .HtmlAttributes(new { @style = "float: right; height: 20px; width: 100%; padding: 0; z-index: 9999; background-color: transparent; background-image: none; border: 0 none; text-align: right", @type = "button" })
        .Events(e => e.Click("btnHideChat_Click")))

    <div id="chat" class="divChat"></div>

    <div class="divSubmitChat">
        @Html.TextArea("txtMessage", new { @style = "width: 95%; resize: none; height: 55px" })

        @(Html.Kendo().Button().Name("btnSendMessage")
                .Content("<img src='/Images/sendMessage.png' alt='Send Message'/>")
                .HtmlAttributes(new { @style = "float: right;", @type = "button" })
                .Events(e => e.Click("btnSendMessage_Click")))

        @(Html.Kendo().Button().Name("btnGroupAdd")
                .Content("<img src='/Images/groupAdd.png' alt='Add New Group'/>")
                .HtmlAttributes(new { @style = "float: right;", @type = "button" })
                .Events(e => e.Click("btnGroupAdd_Click")))

        @(Html.Kendo().Button().Name("btnGroupEdit")
                .Content("<img src='/Images/groupEdit.png' alt='Edit Group'/>")
                .HtmlAttributes(new { @style = "float: right;", @type = "button" })
                .Events(e => e.Click("btnGroupEdit_Click")))
    </div>
    @(Html.Kendo().Window().Name("wndGroup")
        .Modal(true)
        .Title("Grupo")
        .Draggable(true)
        .Content(@<text><div id="wndGroupContent"></div></text>)
                                        .Events(e => e.Close("wndGroup_Close($(this))"))
                                        .Visible(false)
                                        .Height(330)
                                        .Width(600)
    )

    <span id="spnPopupNotification"></span>
</div>